{% extends 'layout/app-layout.html' %}

{% block title %}
Edit Doctor
{% endblock %}

{% block 'content' %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
          <h3>Edit Doctor</h3>
        </div>
        <div class="card-body">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Render Django form automatically -->
            <div class="d-flex justify-content-between">
              <button type="submit" class="btn btn-success">Update</button>
              <a href="{% url 'doctor_list' %}" class="btn btn-secondary">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
